
img{
    width: 400px;
    height: 466px;

}


.game {
  display: flex;
  justify-content: space-between;


}

.image{
    margin-left: 200px;
    margin-top: 59px;
    background-color: red;
}

.right_content{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 200px;
    margin-top: 59px;
    width:540px;
    height: 466px;
    

}

.bt{
    width: 200px;
    height: 60px;
    margin-top: 28px;
    margin-right: 38px;
    background-color: #27AE60;
    border-radius: 5px;
    color:white;
    border: none;
    font-size: 20px;
}

.letter_buttons{
    width: 718px;
    height: 115px;
    background-color: darkgreen;
    margin-top: 70px;
    margin-left: 310px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    

}

.bt_letter{
    width:40px ;
    height: 40px;
    margin-left:12px;
    
}

.randWord{
    font-size: 50px;
    font-weight: bold;
    margin-right: 38px;
    margin-top: 300px;
    letter-spacing: 15px;
    box-sizing: border-box;
}